.login-form {
    margin: 10% 0 10% 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 500px;
    /* background-color: var(--primary-color); */
    background-color: var(--bgc);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.login-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.login-form input {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}

.login-form button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(183, 39, 255);
    border: none;
    width: 40%;
}

.login-form button:hover {
    background-color: rgba(183, 39, 255, 0.9);
}

.login-form p {
    /* font-size: 15px; */
    margin: 0;
}

.login-form a {
    text-decoration: none;
    color: rgb(127, 90, 240, 0.9);
}

.login-form a:hover {
    color: rgba(127, 90, 240, 1);
}