.cart .cart-items {
  overflow-y: scroll;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.cart .cart-items .cart-item {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  font-size: 15px;
  border: 2px solid #524f4f;
  border-radius: 5px;
  padding: 10px;
  min-height: 120px;
}

.cart .cart-items .cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: contain;
}

.cart .cart-items .cart-item .cart-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart .cart-items .cart-item .cart-item-details .cart-item-np {
  padding-left: 20px;
}

.cart .cart-items .cart-item .cart-item-details .cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  min-width: 100px;
  height: 50px;
  background-color: var(--accent-1);
  border-radius: 5px;
  color: white;
}

.cart .cart-items .cart-item .cart-item-details .cart-item-quantity button {
  color: white;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.cart .cart-items .delete-cart-item {
  cursor: pointer;
  margin-left: 5px;
}

.cart .subtotal {
  background-color: var(--accent-4);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .subtotal h3 {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart .subtotal button {
  background-color: #ff7700 !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
}

@media screen and (max-width: 442px) {
  .cart-item .cart-item-np {
    font-size: 12px;
  }
  .cart .cart-items {
    height: auto;
    width: 350px;
  }
}
