.home {
    display: grid;
    grid-template-areas:
    "banner"
    "product-heading"
    "products"
    "categories-heading"
    "categories"
    "features";
    grid-template-rows: 55vh 80px auto 80px auto auto;
    font-weight: 200;
}

.home-banner {
    grid-area: banner;
    background-image: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    display: grid;
    place-content: center;
    /* grid-template-rows: 100%; */
}



.banner-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.banner-content > * {
    margin: 0;
}

.banner-content span {
    /* color: var(--accent-1); */
    color: rgb(246, 255, 0);
}

.banner-content h2 {
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

.banner-content h3 {
    font-weight: 300;
    /* color: rgba(67, 67, 67, 0.652); */
    color: white;
}

.heading {
    grid-area: product-heading categories-heading;
    text-align: center;
    font-weight: 200;
}

.home-products {
    grid-area: products;
}


.home-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}


/* For Category */
.categories {
    grid-area: categories;
    width: 100%;
    overflow: hidden;
    /* padding: 30px; */
    /* use webkit scroll bar to disable  */
    ::-webkit-scrollbar {
        display: none;
    }
}

.categories-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll !important;
    overflow-x: scroll !important;
    scroll-behavior: auto;
    align-items: center;
}


/* For Features */
.features {
    grid-area: features;
    padding: 20px;
    overflow: hidden;
    background-color: var(--accent-4);
}

.features-heading {
    text-align: center;
    font-weight: 200;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.feature .product {
    border-radius: 20% 0 20% 0;
    width: 20em;
    height: 300px;
    background-color: white;
    cursor: default;
}

.feature .product .product-info {
    /* padding: 10px; */
    font-weight: 200;
}

.feature .product img {
    height: 150px;
    object-fit: cover;
    border-radius: 20% 0 20% 0;
}

/* MEDIA QUERIES */

@media screen and (max-width:768px) {

    .banner-content {
        padding: 10px;
        margin: 10px;
    }

    .banner-content h2 {
        font-size: x-large;
        text-align: left;
    }

    .banner-content h3 {
        font-size: large;
        text-align: left;
        width: 100%;
    }
    
    .home-products {
        justify-content: space-evenly;
    }

    .feature .product {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        font-size: 0.6em;
    }

    .feature .product img {
        transform: scale(0.9);
        clip-path: circle(50% at 50% 50%);
    }

    .categories-list {
        justify-content: space-evenly;
    }
}