.add-to-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .add-to-crt-btn {
        height: 45px;
        border: 2px solid var(--primary-color);
        /* background-color: rgba(93, 236, 136, 0.518); */
    }

    .quantity-selector {
        border: 2px solid var(--primary-color);
        min-height: 20px;
        height: 45px;
        background-color: none;
    }
}