.product {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 250px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: -7px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.product:hover {
    outline: 2px solid var(--primary-color);
    outline-offset: 0;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: calc(100% - 20px);
}

.product-image img {
    max-height: 200px;
    max-width: 250px;
}

.product p {
    margin: 0;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.h-product {
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.h-product img {
    width: 100px;
    border-radius: 10px;
}

.h-product .product-details {
    width: 500px
}