.navbar .logo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
}

.navbar .logo img {
  width: 60px;
  object-fit: contain;
}

.navbar .nav-btns {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navbar button {
  font-size: 15px;
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 0px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navbar button:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  border-bottom: 2px solid var(--accent-2);
}

.navbar .login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.navbar .profile-image {
  width: 40%;
  background-image: url("../../assets/profile.jpeg");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.navbar .active {
  border-bottom: 2px solid var(--accent-1) !important;
}

dialog#cart-container {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 0px 100lh rgba(0, 0, 0, 0.5);
  margin-top: 110px;
  margin-right: 10px;
  overflow-y: hidden;
  transition: all 1s ease-in-out;
}

dialog#cart-container h2 {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2px 5px 2px;
  padding: 5px;
}

dialog#cart-container h2 span {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    gap: 2px;
  }
  .navbar .logo {
    display: none;
  }
  .navbar button {
    padding: 0;
    font-size: x-small;
  }
}
