.navbar {
    position: fixed ;
    z-index: 1;
    height: 100px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.logo h1 {
    padding: 10px;
}

.login-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.profile-image {
    width: 40%;
    background-image: url('../../assets/profile.jpeg');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.navbar .nav-btns {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar button {
    font-size: 15px;
    padding: 10px;
    margin: 0 5px 0 5px;
    border-radius: 0px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.navbar button:hover {
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border-bottom: 2px solid var(--accent-2);
}

.active {
    border-bottom: 2px solid var(--accent-1) !important;
}