.register-form {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10% 0 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 500px;
    background-color: var(--bgc);
    color: white;
    border-radius: 10px;
    padding: 30px;
}

.register-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.register-form input {
    /* background-color: rgba(106, 106, 106, 0.3); */
    border: 1px solid rgba(106, 106, 106, 0.5);
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}

.register-form select {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.register-form button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(183, 39, 255);
    border: none;
    width: 40%;
}

.register-form option {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 40%;
}

.register-form button:hover {
    background-color: rgba(183, 39, 255, 0.9);
}

.register-form a {
    text-decoration: none;
    color: rgb(127, 90, 240, 0.9);
}