:root {
  /* --primary-color: #1a1a1a; */
  --primary-color: #1a1a1a;
  --sec-color: #646cff;
  --ter-color: #373636;
  --bgc: #3d3d3d;
  --border: 2px solid rgba(59, 58, 58, 0.5);
  /* Accent Colors */
  --accent-1: #ff7800;
  --accent-2: #b36300;
  --accent-3: #ffc680;
  --accent-4: #ffe3bf;
  font-size: large;
  text-align: left;
}

main {
  display: grid;
  grid-template-areas: "navbar navbar navbar" "content content content" "footer footer footer";
  grid-template-rows: 100px auto auto;
}

.navbar {
  grid-area: navbar;
  position: fixed;
  z-index: 1;
  height: 100px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.hero {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

button {
  font-size: 15px;
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #524f4f;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--accent-1);
  color: white;
  cursor: pointer;
}
